<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>收件地址</title>
	<link rel="stylesheet" href="style/common.css">
	<link rel="stylesheet" href="style/user.css">
</head>
<body>
	<div class="headerBar">
		<a class="headerBack" onclick="history.go(-1)"><i class="iAngleLeft"></i></a>
		<div class="headerTit">收件地址</div>
		<a href="javascript:;" class="headerMessage"></a>
	</div>
	<!-- end.headerBar -->
	<div class="pageContainer msgPage">
		<div class="adressBox">
			<div class="adressCon">
				<div class="adressTit"><h3>张三丰</h3><span>13939393939</span></div>
				<div class="adressText">香港新界粉嶺安乐村安居街18号安兴工贸中心3楼香港新界粉嶺安乐村安居街18号安兴工贸中心3楼</div>
			</div>
			<div class="adressCon">
				<div class="adressTit"><h3>张三丰</h3><span>13939393939</span></div>
				<div class="adressText">香港新界粉嶺安乐村安居街18号安兴工贸中心3楼香港新界粉嶺安乐村安居街18号安兴工贸中心3楼</div>
			</div>
			<div class="adressCon">
				<div class="adressTit"><h3>张三丰</h3><span>13939393939</span></div>
				<div class="adressText">香港新界粉嶺安乐村安居街18号安兴工贸中心3楼香港新界粉嶺安乐村安居街18号安兴工贸中心3楼</div>
			</div>
			<div class="adressCon">
				<div class="adressTit"><h3>张三丰</h3><span>13939393939</span></div>
				<div class="adressText">香港新界粉嶺安乐村安居街18号安兴工贸中心3楼香港新界粉嶺安乐村安居街18号安兴工贸中心3楼</div>
			</div>
		</div>
		<a href="takeGoods.html" class="endBtn">新增收件地址</a>
	</div>
	<!-- end.pageContainer -->
</body>
</html>