@section Header{
    <link href="~/css/pay.css" rel="stylesheet" />
}
<!-- end.headerBar -->
<div class="pageContainer">
    <div class="payError">
        <i class="iExclamationCircle"></i>
        <p>支付失败</p>
    </div>
    <div class="payText">
        <div class="payTextTit">订单信息</div>
        <div class="payTextCon">该订单会为你保留12小时（从下单之日起计算），12小时后如果还未付款，系统将自动取消该订单。</div>
        <div class="payTextBtn">
            <a class="l" asp-action="order" asp-controller="index" asp-route-id="@ViewBag.id">重新支付</a>
            <a class="r" asp-action="order" asp-controller="orderlist" asp-route-id="@ViewBag.id" asp-route-type="1">查看订单</a>
        </div>
    </div>
    <div class="payTips">
        温馨提示：Youngo商城不会以任何理由要求您提供银行卡信息或支付额外费用，请谨防钓鱼链接或诈骗电话。
    </div>
</div>
<!-- end.pageContainer -->