
    <!-- end.headerBar -->
    <div class="pageContainer">
        <div class="paySuccess">
            <i class="iCheckCircle"></i>
            <p>支付成功</p>
        </div>
        <div class="payText">
            <div class="payTextTit">送货信息</div>
            <div class="payTextCon">我们将尽快为您安排发货，请买家保持手机通讯畅通，以便快递哥哥能第一时间联系你。</div>
            <div class="payTextBtn">
                <a class="l" href="index.html">继续购物</a>
                <a class="r" asp-action="order" asp-controller="orderlist" asp-route-id="@ViewBag.id" asp-route-type="0">查看订单</a>
            </div>
        </div>
        <div class="payTips">
            温馨提示：Youngo商城不会以任何理由要求您提供银行卡信息或支付额外费用，请谨防钓鱼链接或诈骗电话。
        </div>
    </div>
    <!-- end.pageContainer -->