@model List<ProductModel>
@section Header{
    <link href="~/css/productList.css" rel="stylesheet" />
}
<!-- end.headerBar -->
<div class="pageContainer">
    @if (Model == null || Model.Count < 1)
    {
        <div class="null">暂无商品</div>
    }
    else
    {
        <div class="productList">
            <ul>
                @foreach (ProductModel product in Model)
                {
                    <li>
                        <a asp-controller="product" asp-action="product" asp-route-productid="@product.ProductID">
                            <img src="@product.Picture" alt="">
                            <span class="tit">@product.CnName</span>
                            <span class="price">
                                <em class="now">￥@product.PurchasePrice</em>
                                <em class="num">已售：@product.SalesVolume</em>
                            </span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
</div>
<!-- end.pageContainer -->
@section scripts{
    <script>
        $(function () {
            $('#category').parent().addClass('cur');
        });
    </script>
}