<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>确认订单</title>
	<link rel="stylesheet" href="style/common.css">
	<link rel="stylesheet" href="style/order.css">
	<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
</head>
<body>
	<div class="headerBar">
		<a class="headerBack" onclick="history.go(-1)"><i class="iAngleLeft"></i></a>
		<div class="headerTit">确认订单</div>
		<a href="javascript:;" class="headerMessage"></a>
	</div>
	<!-- end.headerBar -->
	<div class="pageContainer orderPage">
		<div class="receiver">
			<a href="javascript:;">
				<span class="receiverTit"><em>张三丰</em><tel>13939393939</tel></span>
				<span class="receiverText">
					<span class="receiverTextCon">香港新界粉嶺安乐村安居街18号安兴工贸中心3楼香港新界粉嶺安乐村安居街18号安兴工贸中心3楼</span>
					<span class="more"><i class="iAngleRight"></i></span>
				</span>
			</a>
		</div>
		<div class="receiver">
			<a href="javascript:;">
				<span class="receiverText">
					<span class="receiverTextCon">请选择一个收货地址</span>
					<span class="more"><i class="iAngleRight"></i></span>
				</span>
			</a>
		</div>
		<div class="orderProList">
			<ul>
				<li>
					<span class="pic">
						<img src="images/product.jpg" alt="">
					</span>
					<span class="dec">
						<span class="tit">韩国The Face Shop菲诗小铺控油补水气垫修颜乳气垫BB 15g</span>
						<span class="price">
							<em class="p">￥199.99</em>
							<em class="n">数量：4</em>
						</span>
					</span>
				</li>
				<li>
					<span class="pic">
						<img src="images/product.jpg" alt="">
					</span>
					<span class="dec">
						<span class="tit">韩国The Face Shop菲诗小铺控油补水气垫修颜乳气垫BB 15g</span>
						<span class="price">
							<em class="p">￥199.99</em>
							<em class="n">数量：4</em>
						</span>
					</span>
				</li>
			</ul>
		</div>
		<div class="orderData">
			<ul>
				<li>
					<span class="tit"></span>
					<span class="dec"></span>
				</li>
			</ul>
		</div>
		<div class="payWay">
			<ul>
				<li>
					<span>钱包支付</span>
					<input type="radio" name="1">
				</li>
				<li>
					<span>银联支付</span>
					<input type="radio" name="1">
				</li>
				<li>
					<span>微信支付</span>
					<input type="radio" name="1" checked>
				</li>
			</ul>
		</div>
		<div class="payCount">
			<ul>
				<li>
					<span class="l">商品总金额：</span>
					<span class="r">￥999.99</span>
				</li>
				<li>
					<span class="l">运费：</span>
					<span class="r">￥999.99</span>
				</li>
				<li>
					<span class="l">优惠券：</span>
					<span class="r">￥999.99</span>
				</li>
				<li class="last">
					<span class="l">总金额：</span>
					<span class="r">￥999.99</span>
				</li>
			</ul>
		</div>
		<div class="payGo">
			<div class="payTotal">
				<span>订单金额：</span>
				<em>￥9999.99</em>
			</div>
			<a href="paySuccess.html">立即支付</a>
		</div>
	</div>
	<!-- end.pageContainer -->
</body>
</html>