<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>产品列表</title>
	<link rel="stylesheet" href="style/common.css">
	<link rel="stylesheet" href="style/swiper.css">
	<link rel="stylesheet" href="style/product.css">
	<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="js/swiper.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$(".proTabConItem").eq(0).show();
			$(".proTab ul li").click(function(){
		    var num =$(".proTab ul li").index(this);
		    $(".proTabConItem").hide();
		    $(".proTabConItem").eq(num).show();
		    $(this).addClass('cur').siblings().removeClass('cur');
		  })
		})
	</script>
</head>
<body>
	<div class="headerBar">
		<a class="headerBack" onclick="history.go(-1)"><i class="iAngleLeft"></i></a>
		<div class="headerTit">产品详情</div>
		<a class="headerMessage"><i class="iSearch"></i></a>
	</div>
	<!-- end.headerBar -->
	<div class="pageContainer">
		<div class="swiper-container">
      <div class="swiper-wrapper">
          <div class="swiper-slide">
          	<a href="javascript:;"><img src="images/banner0.jpg" alt=""></a>
          </div>
          <div class="swiper-slide">
          	<a href="javascript:;"><img src="images/banner1.jpg" alt=""></a>
          </div>
      </div>
      <!-- Add Pagination -->
    	<div class="swiper-pagination"></div>
  	</div>
	  <script>
	    var swiper = new Swiper('.swiper-container', {
	        pagination: '.swiper-pagination',
	        paginationType: 'fraction',
	        paginationClickable: true
	    });
	  </script>
	  <!-- end.swiper -->
	  <div class="productCon">
	  	<div class="proName">自然之源面膜橄榄红参黄瓜蓝莓绿豆牛油果乳木果</div>
	  	<div class="proBar">
	  		<div class="proPrice">
	  			<span class="now">
	  				￥<b>1999.99</b>
	  			</span>
	  			<del class="old">$2999.99</del>
	  		</div>
	  		<div class="proSale">
	  			<span>0</span>人已购买
	  		</div>
	  	</div>
	  	<div class="proDesc">大肚子睫毛膏，睫毛膏家族的明星。防水不晕染，不脱妆而且好涂。轻如羽翼有木有。更不用担心会结块，变苍蝇腿，又长又浓又卷翘。卷翘保持度也是普通睫毛膏望尘莫及的。</div>
	  	<!-- end.proBar -->
	  	<div class="proTabBox">
		  	<div class="proTab">
		  		<ul>
		  			<li class="cur">图文详情</li>
		  			<li>商品参数</li>
		  			<li>商品评论</li>
		  		</ul>
		  	</div>
		  	<div class="proTabCon">
		  		<div class="proTabConItem">
		  			<img src="images/product.jpg" alt="" style="width:100%;">
		  			<img src="images/product.jpg" alt="">
		  			<img src="images/product.jpg" alt="">
		  			<img src="images/product.jpg" alt="">
		  			<img src="images/product.jpg" alt="">
		  			<img src="images/product.jpg" alt="">
		  		</div>
		  		<!-- end.proTabConItem -->
		  		<div class="proTabConItem">
		  			<div class="productDataItem">
		  				<label>品牌</label>
		  				<span>韩国THE FACE SHOP菲诗小铺黑杆大肚子睫毛膏7ml 卷翘纤长浓密</span>
		  			</div>
		  			<div class="productDataItem">
		  				<label>品牌</label>
		  				<span>韩国THE FACE SHOP菲诗小铺黑杆大肚子睫毛膏7ml 卷翘纤长浓密</span>
		  			</div>
		  			<div class="productDataItem">
		  				<label>品牌</label>
		  				<span>韩国THE FACE SHOP菲诗小铺黑杆大肚子睫毛膏7ml 卷翘纤长浓密</span>
		  			</div>
		  			<div class="productDataItem">
		  				<label>品牌</label>
		  				<span>韩国THE FACE SHOP菲诗小铺黑杆大肚子睫毛膏7ml 卷翘纤长浓密</span>
		  			</div>
		  		</div>
		  		<!-- end.proTabConItem -->
		  		<div class="proTabConItem">
		  			<ul class="proCommentTab">
		  				<li class="cur">
		  					<span>全部</span>
		  					<span class="n">(1000)</span>
		  				</li>
		  				<li>
		  					<span>好评</span>
		  					<span class="n">(1000)</span>
		  				</li>
		  				<li>
		  					<span>中评</span>
		  					<span class="n">(1000)</span>
		  				</li>
		  				<li>
		  					<span>差评</span>
		  					<span class="n">(1000)</span>
		  				</li>
		  				<li>
		  					<span>晒图</span>
		  					<span class="n">(1000)</span>
		  				</li>
		  				<li>
		  					<span>追评</span>
		  					<span class="n">(1000)</span>
		  				</li>
		  			</ul>
		  			<div class="proCommentCon">
		  				<div class="commentConItem">
		  					<div class="commentUserBox">
		  						<div class="commentUser">用户：张**三</div>
									<div class="commentDate">2017-07-18</div>
		  					</div>
		  					<div class="commentScore">
		  						<span class="commentScoreText">评分：</span>
		  						<span class="star light"><i class="iStar"></i></span>
		  						<span class="star light"><i class="iStar"></i></span>
		  						<span class="star light"><i class="iStar"></i></span>
		  						<span class="star light"><i class="iStar"></i></span>
		  						<span class="star light"><i class="iStar"></i></span>
		  					</div>
		  					<div class="commentCon">
		  						<p>用过才来评论的。挺好的。拉长了。一定等它干了再眨眼。</p>
		  					</div>
		  					<div class="commentPic">
		  						<div class="commentPicItem">
		  							<img src="images/product.jpg" alt="">
		  						</div>
		  						<div class="commentPicItem">
		  							<img src="images/product.jpg" alt="">
		  						</div>
		  						<div class="commentPicItem">
		  							<img src="images/product.jpg" alt="">
		  						</div>
		  					</div>
		  				</div>
		  			</div>
		  		</div>
		  	</div>
	  	</div>
	  </div>
	</div>
	<!-- end.pageContainer -->
	<div class="footerNavPro">
		<ul>
			<li class="price">￥<span>381.00</span></li>
			<li class="bbtn"><a href="shoppingcart.html"><i class="iShoppingCart"><em>1</em></i></a></li>
			<li class="buy"><a href="javascript:;">加入购物车</a></li>
		</ul>
	</div>
	<!-- end.footerNav -->
</body>
</html>