<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>产品列表</title>
	<link rel="stylesheet" href="style/common.css">
	<link rel="stylesheet" href="style/productList2.css">
	<script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript">
		$(function(){
			$(".productSort ul li").click(function(){
//				$(this).siblings().removeClass('up');
//				$(this).siblings().removeClass('down');
				$(this).addClass('on').siblings().removeClass('on up down');
				if($(this).hasClass('up')){
					$(this).removeClass('up').addClass('down')
				}else{
					$(this).removeClass('down').addClass('up')
				}
			});
		})
	</script>
</head>
<body>
	<div class="headerBar">
		<a class="headerBack"><i class="iAngleLeft"></i></a>
		<div class="headerTit">产品列表</div>
		<a class="headerMessage" href="search.html"><i class="iSearch"></i></a>
	</div>
	<!-- end.headerBar -->
	<div class="pageContainer">
		<div class="productSort">
			<ul>
				<li><a href="javascript:;">默认</a></li>
				<li class="on"><a href="javascript:;">销量<span class="arrowUp"></span><span class="arrowDown"></span></a></li>
				<li><a href="javascript:;">评分<span class="arrowUp"></span><span class="arrowDown"></span></a></li>
				<li><a href="javascript:;">价格<span class="arrowUp"></span><span class="arrowDown"></span></a></li>
			</ul>
		</div>
		<div class="productList">
			<ul>
				<li>
					<a href="product.html">
						<span class="pic">
							<img src="images/product.jpg" alt="">
						</span>
						<span class="dec">
							<span class="tit">韩国The Face Shop菲诗小铺控油补水气垫修颜乳气垫BB 15g</span>
							<span class="price">
								<em>￥199.99</em>
								<del>￥299.99</del>
							</span>
							<span class="info">
								<em>10000条评价</em>
								<em>100%好评</em>
							</span>
						</span>
					</a>
				</li>
				<li>
					<a href="product.html">
						<span class="pic">
							<img src="images/product.jpg" alt="">
						</span>
						<span class="dec">
							<span class="tit">韩国The Face Shop菲诗小铺控油补水气垫修颜乳气垫BB 15g</span>
							<span class="price">
								<em>￥199.99</em>
								<del>￥299.99</del>
							</span>
							<span class="info">
								<em>10000条评价</em>
								<em>100%好评</em>
							</span>
						</span>
					</a>
				</li>
				<li>
					<a href="product.html">
						<span class="pic">
							<img src="images/product.jpg" alt="">
						</span>
						<span class="dec">
							<span class="tit">韩国The Face Shop菲诗小铺控油补水气垫修颜乳气垫BB 15g</span>
							<span class="price">
								<em>￥199.99</em>
								<del>￥299.99</del>
							</span>
							<span class="info">
								<em>10000条评价</em>
								<em>100%好评</em>
							</span>
						</span>
					</a>
				</li>
				<li>
					<a href="product.html">
						<span class="pic">
							<img src="images/product.jpg" alt="">
						</span>
						<span class="dec">
							<span class="tit">韩国The Face Shop菲诗小铺控油补水气垫修颜乳气垫BB 15g</span>
							<span class="price">
								<em>￥199.99</em>
								<del>￥299.99</del>
							</span>
							<span class="info">
								<em>10000条评价</em>
								<em>100%好评</em>
							</span>
						</span>
					</a>
				</li>
				<li>
					<a href="product.html">
						<span class="pic">
							<img src="images/product.jpg" alt="">
						</span>
						<span class="dec">
							<span class="tit">韩国The Face Shop菲诗小铺控油补水气垫修颜乳气垫BB 15g</span>
							<span class="price">
								<em>￥199.99</em>
								<del>￥299.99</del>
							</span>
							<span class="info">
								<em>10000条评价</em>
								<em>100%好评</em>
							</span>
						</span>
					</a>
				</li>
				<li>
					<a href="product.html">
						<span class="pic">
							<img src="images/product.jpg" alt="">
						</span>
						<span class="dec">
							<span class="tit">韩国The Face Shop菲诗小铺控油补水气垫修颜乳气垫BB 15g</span>
							<span class="price">
								<em>￥199.99</em>
								<del>￥299.99</del>
							</span>
							<span class="info">
								<em>10000条评价</em>
								<em>100%好评</em>
							</span>
						</span>
					</a>
				</li>
				<li>
					<a href="product.html">
						<span class="pic">
							<img src="images/product.jpg" alt="">
						</span>
						<span class="dec">
							<span class="tit">韩国The Face Shop菲诗小铺控油补水气垫修颜乳气垫BB 15g</span>
							<span class="price">
								<em>￥199.99</em>
								<del>￥299.99</del>
							</span>
							<span class="info">
								<em>10000条评价</em>
								<em>100%好评</em>
							</span>
						</span>
					</a>
				</li>
				<li>
					<a href="product.html">
						<span class="pic">
							<img src="images/product.jpg" alt="">
						</span>
						<span class="dec">
							<span class="tit">韩国The Face Shop菲诗小铺控油补水气垫修颜乳气垫BB 15g</span>
							<span class="price">
								<em>￥199.99</em>
								<del>￥299.99</del>
							</span>
							<span class="info">
								<em>10000条评价</em>
								<em>100%好评</em>
							</span>
						</span>
					</a>
				</li>
				<li>
					<a href="product.html">
						<span class="pic">
							<img src="images/product.jpg" alt="">
						</span>
						<span class="dec">
							<span class="tit">韩国The Face Shop菲诗小铺控油补水气垫修颜乳气垫BB 15g</span>
							<span class="price">
								<em>￥199.99</em>
								<del>￥299.99</del>
							</span>
							<span class="info">
								<em>10000条评价</em>
								<em>100%好评</em>
							</span>
						</span>
					</a>
				</li>
				<li>
					<a href="product.html">
						<span class="pic">
							<img src="images/product.jpg" alt="">
						</span>
						<span class="dec">
							<span class="tit">韩国The Face Shop菲诗小铺控油补水气垫修颜乳气垫BB 15g</span>
							<span class="price">
								<em>￥199.99</em>
								<del>￥299.99</del>
							</span>
							<span class="info">
								<em>10000条评价</em>
								<em>100%好评</em>
							</span>
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- end.pageContainer -->
	<div class="footerNav">
		<ul>
			<li><a href="index.html"><i class="iHome"></i><span>首页</span></a></li>
			<li><a href="category.html"><i class="iList"></i><span>分类</span></a></li>
			<li class="cur"><a href="shoppingcart.html"><i class="iShoppingCart"></i><span>购物车</span></a></li>
			<li><a href="userCenter.html"><i class="iUser"></i><span>我</span></a></li>
		</ul>
	</div>
	<!-- end.footerNav -->
</body>
</html>