<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>购物车</title>
	<link rel="stylesheet" href="style/common.css">
	<link rel="stylesheet" href="style/shoppingcart.css">
</head>
<body>
	<div class="headerBar">
		<a class="headerBack"><i class="iAngleLeft"></i></a>
		<div class="headerTit">购物车</div>
		<a class="headerMessage" href="search.html"><i class="iSearch"></i></a>
	</div>
	<!-- end.headerBar -->
	<div class="pageContainer">
		<div class="shoppingcartEmpty">
			<span></span>
			<p>您的购物车暂时没有商品</p>
			<a href="index.html">再去逛逛</a>
		</div>
	</div>
	<!-- end.pageContainer -->
	<div class="footerNav">
		<ul>
			<li><a href="index.html"><i class="iHome"></i><span>首页</span></a></li>
			<li><a href="category.html"><i class="iList"></i><span>分类</span></a></li>
			<li class="cur"><a href="shoppingcart.html"><i class="iShoppingCart"></i><span>购物车</span></a></li>
			<li><a href="userCenter.html"><i class="iUser"></i><span>我</span></a></li>
		</ul>
	</div>
	<!-- end.footerNav -->
</body>
</html>