<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>意见反馈</title>
	<link rel="stylesheet" href="style/common.css">
	<link rel="stylesheet" href="style/user.css">
</head>
<body>
	<div class="headerBar">
		<a class="headerBack" onclick="history.go(-1)"><i class="iAngleLeft"></i></a>
		<div class="headerTit">意见反馈</div>
		<a href="javascript:;" class="headerMessage"></a>
	</div>
	<!-- end.headerBar -->
	<div class="pageContainer msgPage">
		<div class="suggestBox">
			<label>请留下您的建议，我们将不断优化体验</label>
			<div class="suggestTit">建议类型</div>
			<div class="suggestCon">
				<select name="" id="">
					<option value="">请选择</option>
					<option value="">功能意见</option>
					<option value="">页面意见</option>
					<option value="">新的需求</option>
					<option value="">操作意见</option>
					<option value="">其他</option>
				</select>
			</div>
			<div class="suggestTit">您的建议</div>
			<div class="suggestCon">
				<textarea name="" id="" cols="30" rows="10"></textarea>
			</div>
			<div class="suggestTit">手机号码</div>
			<div class="suggestCon">
				<input type="number">
			</div>
		</div>
		<a href="takeGoods.html" class="endBtn">提交</a>
	</div>
	<!-- end.pageContainer -->
</body>
</html>