
@font-face {
    font - family: "font-scb";
    src: url('iconfont.eot?t=1471937258'); /* IE9*/
    src: url('iconfont.eot?t=1471937258#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('iconfont.woff?t=1471937258') format('woff'), /* chrome, firefox */
            url('iconfont.ttf?t=1471937258') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
                url('iconfont.svg?t=1471937258#font-scb') format('svg'); /* iOS 4.1- */
    font - weight: normal;
    font - style: normal;
}

.font - scb {
    display: inline - block;
    font: normal normal normal 14px/ 1 "font-scb";
    font - size: inherit;
    text - rendering: auto;
    -webkit - font - smoothing: antialiased;
    -moz - osx - font - smoothing: grayscale;
}
.font - scb - sad:before { content: "\e600"; }
.font - scb - smile:before { content: "\e602"; }
.font - scb - x:before { content: "\e604"; }
.font - scb - question - circle - o:before { content: "\e601"; }
.font - scb - warning - circle - o:before { content: "\e603"; }