.categoryNav{width:90px;position:absolute;left:0;bottom:55px;top:40px;overflow:hidden;background:#f5f5f5;}
.categoryNav ul{width:100%;height:100%;overflow-y:scroll;padding-right:20px;}
.categoryNav ul li{width:100%;height:40px;line-height:40px;text-align:center;border-right:1px solid #eaeaea;border-bottom:1px solid #eaeaea;box-sizing:border-box;}
.categoryNav ul li a{color:#000;display:block;}
.categoryNav ul li.cur{background:#fff;border-right-color:#fff;}
.categoryNav ul li.cur a{color:#ff465a;}
.categoryNav ul li a{font-size:12px;}
.category{left:90px;position:absolute;right:0;overflow:hidden;bottom:55px;top:40px;font-size:12px;}
.category .categoryCon{width:100%;height:100%;overflow-y:scroll;padding-right:20px;}
.category .categoryItem{width:100%;height:auto;overflow:hidden;margin-top:20px;}
.categoryItem .categoryTit{font-size:14px;text-align:center;background:url(../images/point.jpg) center center repeat-x;width:60%;margin:0 auto 5px;}
.categoryItem .categoryTit span{background:#fff;padding:0 8px;}
.categoryItem ul{width:100%;height:auto;overflow:hidden;}
.categoryItem ul li{width:25%;float:left;display:block;}
.categoryItem ul li a{display:block;width:80%;height:auto;overflow:hidden;margin:0 auto;}
.categoryItem ul li a img{display:block;width:100%;height:auto;margin:5px auto}
.categoryItem ul li a span{display:block;color:#000;font-size:12px;text-align:center;}