.swiper-container{width:100%;height:100%;}
.swiper-slide img{display:block;width:100%;height:auto;}
.swiper-pagination{width:30px;height:30px;font-size:12px;border-radius:50%;background:rgba(0,0,0,.3);line-height:30px;right:5px;left:auto;bottom:5px;color:#fff;}

/* product */
.productCon{padding-bottom:10px;padding-top:7px;background-color:#f5f5f5;width:100%;height:auto;overflow:hidden;}
.productCon .proName{padding-top:7px;padding-right:10px;font-size:16px;color:#232326;line-height:20px;color:#232326;text-align:left;padding-left:10px;background-color:#fff;}
.productCon .proBar{background-color:#fff;padding:8px 10px;}
.productCon .proBar .proPrice{font-size:14px;display:inline-block;}
.productCon .proBar .proPrice .now{color:#ff465a;display:inline-block;}
.productCon .proBar .proPrice .now b{font-size:20px;}
.productCon .proBar .proPrice del{color:#999;font-size:12px;margin-left:5px;display:inline-block;}
.productCon .proBar .proSale{font-size:12px;line-height:30px;display:inline-block;float:right;color:#999;}
.productCon .proBar .proSale span{color:#ff465a;}
.productCon .proDesc{border-top:1px solid #ddd;background-color:#fff;padding:10px;color:#999;font-size:12px;}

/* proTabBox */
.proTabBox{margin-top:10px;background:#fff;}
.proTabBox .proTab{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:44px;border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;background-color:#fff;}
.proTabBox .proTab ul{width:100%;height:auto;overflow:hidden;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:44px;border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8;background-color:#fff;}
.proTabBox .proTab ul li{display:block;position:relative;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;height:44px;line-height:44px;color:#333;font-size:14px;text-align:center}
.proTabBox .proTab ul li:after{content:'';position:absolute;right:0;top:11px;width:1px;height:22px;background-color:#dedede}
.proTabBox .proTab ul li.cur{color:#ff3c25}
.proTabBox .proTab ul li.cur:before{content:'';position:absolute;left:10px;right:10px;bottom:-1px;height:2px;background-color:#ff3c25}
.proTabBox .proTabCon{}
.proTabConItem{width:100%;height:auto;overflow:hidden;padding:0;display:none;}
.productDataItem{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;line-height:18px;margin-left:10px;padding:7px 0 7px 2px;border-bottom:1px solid #eee;color:#666;font-size:12px;}
.productDataItem label{width:50px;color:#999;display:block;height:18px;}
.productDataItem span{display:block;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;padding-right:10px;}

.proCommentTab{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;height:44px;border-bottom:1px solid #ffabab;background-color:#f5f5f5;}
.proCommentTab li{display:block;position:relative;-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;width:100%;width:25%;height:40px;overflow:hidden;padding-top:4px;text-align:center;color:#999999;text-shadow:0 1px 0 #fff;}
.proCommentTab li:after{content:"";position:absolute;top:12px;right:0;width:0;height:20px;border-right:1px solid #d8d8d8;}
.proCommentTab li:last-child:after{display:none;}
.proCommentTab li span{display:block;line-height:20px;font-size:14px;}
.proCommentTab li span.n{font-size:12px;line-height:16px;}
.proCommentTab li.cur{height:38px;color:#ff3c3c;border-bottom:3px solid #ff3c3c;}

.proCommentCon{}
.proCommentCon .commentConItem{font-size:12px;margin:10px 0;padding:0 10px 10px;border-bottom:1px solid #e5e5e5;}
.commentConItem .commentUserBox{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;line-height:20px;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;color:#999;}
.commentConItem .commentUserBox .commentUser{width:200px;height:20px;color:#000;font-size:14px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.commentConItem .commentUserBox .commentDate{}
.commentConItem .commentScore{line-height:20px;color:#999;}
.commentConItem .commentScoreText{vertical-align:middle;}
.commentConItem .star{font-size:12px;}
.commentConItem .star.light{color:#ffc36a;}
.commentConItem .commentCon{line-height:18px;color:#666;}
.commentConItem .commentPic{width:100%;height:auto;overflow:hidden;}
.commentConItem .commentPic .commentPicItem{position:relative;float:left;width:60px;height:60px;border:1px solid #dedede;margin:2.8571429% 1.4285715% 0;background-repeat:no-repeat;background-size:contain;background-position:center;}
.commentConItem .commentPic .commentPicItem img{position:absolute;left:0;top:0;display:block;width:100%;height:100%;}

.footerNavPro{display:-webkit-box;background:#fff;border-top:1px solid #ddd;width:100%;height:50px;position:fixed;bottom:0;z-index:999}
.footerNavPro ul{width:100%;height:50px;overflow:hidden;display:-webkit-box;background:#fff;height:50px;overflow:hidden;}
.footerNavPro ul li{}
.footerNavPro ul li.price{display:block;-webkit-box-flex:1;color:#ff666b;font-size:14px;padding-left:15px;line-height:50px;}
.footerNavPro ul li.price span{font-size:20px;}
.footerNavPro ul li.bbtn{width:30px;font-size:12px;margin:0 15px;padding-top:2px;display:block;text-align:center;}
.footerNavPro ul li.bbtn a i{line-height:45px;font-size:25px;position:relative;transform:scale(.9)}
.footerNavPro ul li.bbtn i em{position:absolute;width:14px;height:14px;background:#ff465a;border-radius:50%;color:#fff;text-align:center;right:-8px;top:0px;font-size:12px;line-height:14px;font-style:normal;}
.footerNavPro ul li.bbtn a{font-size:12px;color:#ff465a;display:block;padding-top:2px;}
.footerNavPro ul li.buy{width:30%;min-width:100px;font-size:16px;display:block;padding:15px 12px;height:20px;line-height:20px;font-size:100%;color:#fff;background-color:#ff666b;vertical-align:middle;-webkit-tap-highlight-color:rgba(0,0,0,0);text-align:center;}
.footerNavPro ul li.buy a{color:#fff;}