<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>首页</title>
</head>
<body style="background-image: url('/Image/bgm.jpg');background-size:100%;">
    <div style="text-align:center;margin-top:5%;">
        <p>如对网站有疑问，请扫描一下二维码添加个人微信咨询</p>
        <img src="~/Image/IMG_1005.JPG" style="width:20%;" />
        <p>本网站用于.net core的技术研究和开发，并不用于商业用途。</p>
        <p>如果发现异常请发送邮件：starmilefx@163.com 进行举报，谢谢合作！</p>
    </div>
    <div style="position:fixed;bottom:0px;height:100px;line-height:100px;text-align:center;width:100%;left:0;">
        <p>粤ICP备16065890号</p>
    </div>
</body>
</html>