<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>申请售后</title>
    <link rel="stylesheet" href="style/common.css">
    <link rel="stylesheet" href="style/service.css">
    <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">
    function imgPreview(fileDom){
        //判断是否支持FileReader
        if (window.FileReader) {
            var reader = new FileReader();
        } else {
            alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
        }

        //获取文件
        var file = fileDom.files[0];
        var imageType = /^image\//;
        //是否是图片
        if (!imageType.test(file.type)) {
            alert("请选择图片！");
            return;
        }
        //读取完成
        reader.onload = function(e) {
            //获取图片dom
            var img = document.getElementById("preview");
            //图片路径设置为读取的图片
            var imgPanel="";
            var imgData=document.getElementById("uploadImg").value;
            console.log(imgData);
            imgPanel ="<div class='previewItem' data-val='"+imgData+"'><img src="+e.target.result+"><span class='del'><i class='iTimesCircle'></i></span></div>"
            $(".uploadImgBtn").before(imgPanel);
        };
        reader.readAsDataURL(file);
    }
    $(function(){
    	$("#preview").on("click",".del",function(){
    		$(this).parent(".previewItem").remove();
    	});
    	$(".evaStarItem").click(function(){
    		$(".evaStarItem").removeClass('light');
    		var num = $(this).index();
    		console.log(num);
    		for(var i=0;i<=num;i++){
    			$(".evaStarItem").eq(i).addClass('light');
    		}
    		$("#evaStarItemVal").val(num+1);
    	});
    })
    </script>
</head>
<body>
    <div class="headerBar">
        <a class="headerBack" onclick="history.go(-1)"><i class="iAngleLeft"></i></a>
        <div class="headerTit">申请售后</div>
        <a href="javascript:;" class="headerMessage"></a>
    </div>
    <!-- end.headerBar -->
    <div class="pageContainer">
        <div class="servicePanel serviceTab sp">
            <div class="servicePanelTit spt">请选择售后类型：</div>
            <div class="servicePanelCon spc">
                <label for=""><input name="t" type="radio">退款</label>
                <label for=""><input name="t" type="radio">换货</label>
            </div>
        </div>
        <div class="servicePanel serviceProList">
            <div class="servicePanelTit">申请售后的产品</div>
            <div class="servicePanelCon">
                <ul>
                    <li>
                        <span class="pic">
                            <img src="images/product.jpg" alt="">
                        </span>
                        <span class="dec">
                            <span class="tit">韩国The Face Shop菲诗小铺控油补水气垫修颜乳气垫BB 15g</span>
                            <span class="price">
                                <em class="p">￥199.99</em>
                                <em class="n">数量：4</em>
                            </span>
                        </span>
                    </li>
                    <li>
                        <span class="pic">
                            <img src="images/product.jpg" alt="">
                        </span>
                        <span class="dec">
                            <span class="tit">韩国The Face Shop菲诗小铺控油补水气垫修颜乳气垫BB 15g</span>
                            <span class="price">
                                <em class="p">￥199.99</em>
                                <em class="n">数量：4</em>
                            </span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="servicePanel serviceReason sp">
            <div class="servicePanelTit spt">请选择售后原因：</div>
            <div class="servicePanelCon spc">
                <select name="" id="">
                    <option value="">请选择</option>
                    <option value="">我不想要了</option>
                    <option value="">货物损伤</option>
                </select>
            </div>
        </div>
        <div class="servicePanel serviceDescription">
            <div class="servicePanelTit">问题说明</div>
            <div class="servicePanelCon">
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="servicePanel servicePicture">
            <div class="servicePanelTit">上传凭证</div>
            <div class="servicePanelCon">
                <div class="previewItem"><img src="images/banner0.jpg" alt=""><span class="del"><i class="iTimesCircle"></i></span></div>
                <div class="previewItem"><img src="images/banner0.jpg" alt=""><span class="del"><i class="iTimesCircle"></i></span></div>
                <div class="previewItem"><img src="images/banner0.jpg" alt=""><span class="del"><i class="iTimesCircle"></i></span></div>
                <div class="previewItem"><img src="images/banner0.jpg" alt=""><span class="del"><i class="iTimesCircle"></i></span></div>
                <div class="previewItem"><img src="images/banner0.jpg" alt=""><span class="del"><i class="iTimesCircle"></i></span></div>
                <div class="previewItem uploadImgBtn" onclick="uploadImg.click()">+</div>
                <input class="uploadImg" id="uploadImg" type="file" name="file" onchange="imgPreview(this)" style="display:none;" />
            </div>
        </div>
        <a href="orderList.html" class="serviceBtn">提交</a>
    </div>
</body>
</html>