<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>系统消息</title>
    <link rel="stylesheet" href="style/common.css">
    <link rel="stylesheet" href="style/user.css">
</head>
<body>
    <div class="headerBar">
        <a class="headerBack" onclick="history.go(-1)"><i class="iAngleLeft"></i></a>
        <div class="headerTit">系统消息</div>
        <a href="javascript:;" class="headerMessage"></a>
    </div>
    <!-- end.headerBar -->
    <div class="pageContainer msgPage">
        <div class="msgBox">
            <div class="msgCon">
                <div class="msgTit"><h3>订单确认通知</h3><span>2015-08-03 11:11:40</span></div>
                <div class="msgText">您好：您的订单9454080333已经确认！您好：您的订单9454080333已经确认！您好：您的订单9454080333已确认！</div>
            </div>
            <div class="msgCon">
                <div class="msgTit"><h3>订单确认通知</h3><span>2015-08-03 11:11:40</span></div>
                <div class="msgText">您好：您的订单9454080333已经确认！您好：您的订单9454080333已经确认！您好：您的订单9454080333已确认！</div>
            </div>
            <div class="msgCon">
                <div class="msgTit"><h3>订单确认通知</h3><span>2015-08-03 11:11:40</span></div>
                <div class="msgText">您好：您的订单9454080333已经确认！您好：您的订单9454080333已经确认！您好：您的订单9454080333已确认！</div>
            </div>
            <div class="msgCon">
                <div class="msgTit"><h3>订单确认通知</h3><span>2015-08-03 11:11:40</span></div>
                <div class="msgText">您好：您的订单9454080333已经确认！您好：您的订单9454080333已经确认！您好：您的订单9454080333已确认！</div>
            </div>
            <div class="msgCon">
                <div class="msgTit"><h3>订单确认通知</h3><span>2015-08-03 11:11:40</span></div>
                <div class="msgText">您好：您的订单9454080333已经确认！您好：您的订单9454080333已经确认！您好：您的订单9454080333已确认！</div>
            </div>
            <div class="msgCon">
                <div class="msgTit"><h3>订单确认通知</h3><span>2015-08-03 11:11:40</span></div>
                <div class="msgText">您好：您的订单9454080333已经确认！您好：您的订单9454080333已经确认！您好：您的订单9454080333已确认！</div>
            </div>
        </div>

    </div>
    <!-- end.pageContainer -->
</body>
</html>