@section Header{
    <link href="~/css/search.css" rel="stylesheet" />
}
    <div class="SeachHeaderBar">
        <a class="headerBack" onclick="history.go(-1)"><i class="iAngleLeft"></i></a>
        <div class="searchBox">
            <a class="searchBtn"></a>
            <input class="searchInput" type="text" placeholder="请输入搜索内容">
        </div>
        <a href="javascript:;" class="headerMessage"></a>
    </div>
    <div class="searchTag">
        <div class="searchTagTit">热门搜索</div>
        <div class="searchTagList">
            <ul>
                <li><a href="javascript:;">随机名字81</a></li>
                <li><a href="javascript:;">随机名字82</a></li>
                <li><a href="javascript:;">随机名字s83</a></li>
                <li><a href="javascript:;">随机名字84</a></li>
                <li><a href="javascript:;">随机名字85w</a></li>
                <li><a href="javascript:;">随机名字86</a></li>
                <li><a href="javascript:;">随机名字87</a></li>
                <li><a href="javascript:;">随机名字88</a></li>
                <li><a href="javascript:;">随机名字89</a></li>
                <li><a href="javascript:;">随机名字810</a></li>
            </ul>
        </div>
    </div>
@section scripts{
    <script src="~/js/search.js"></script>
}