@inject IOptions<WebConfigModel> WebConfigModel

@{
    ViewData["Title"] = ViewData["Title"] + "-" + WebConfigModel.Value.WebName;
}
<div id="loading" style="display: none;"><img src="~/images/loading.gif"></div>
<div class="con">
    <div class="category-top">
        <header>
            <section class="search">
                <div class="text-all dis-box j-text-all">
                    <div class="box-flex input-text">
                        <a class="a-search-input j-search-input" href="javascript:void(0)"></a>
                        <input type="text" placeholder="商品搜索">
                        <i class="iconfont icon-guanbi is-null j-is-null"></i>
                    </div>
                </div>
            </section>
        </header>
    </div>
    <aside>
        <div class="menu-left scrollbar-none" id="sidebar">
            <ul>
                <li class="active">鞋/箱包</li>
                <li>珠宝首饰/手表眼镜</li>
                <li>美妆护肤</li>
                <li class="">家用电器</li>
                <li>居家生活</li>
                <li class="">家具建材</li>
                <li>食品/医药保健</li>
                <li class="">图书音像</li>
                <li>手机/数码</li>
                <li class="">女装</li>
                <li>男装</li>
                <li>母婴用品</li>
                <li>全新整车/车品</li>
            </ul>
        </div>
    </aside>
    <section class="menu-right padding-all j-content">
        <h5>鞋/箱包</h5>
        <ul>
            <li class="w-3"><a href="http://www.jq22.com/demo/jdyddh201701141116/#"></a> <img src="~/images/tp.png"><span>时尚女鞋</span></li>
        </ul>
    </section>
</div>
<div class="search-div j-search-div ts-3">
    <section class="search">
        <form action="http://www.jq22.com/index.php?m=default&amp;c=category&amp;a=index&amp;u=0" method="post">
            <div class="text-all dis-box j-text-all">
                <div class="box-flex input-texts">
                    <input class="j-input-text" type="text" name="keywords" placeholder="请输入搜索关键词！">
                    <i class="iconfont icon-guanbi is-null j-is-null"></i>
                </div>
                <button type="submit" class="btn-submit">搜索</button>
            </div>
        </form>
    </section>
    <section class="search-con">
        <div class="swiper-scroll history-search swiper-container-vertical swiper-container-free-mode">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper-slide-active">
                    <p>
                        <label class="fl">热门搜索</label>
                    </p>
                    <ul class="hot-search a-text-more">
                        <li class="w-3"><a href="http://www.jq22.com/demo/jdyddh201701141116/#"><span>美国</span></a></li>
                        <li class="w-3"><a href="http://www.jq22.com/demo/jdyddh201701141116/#"><span>新生婴儿</span></a></li>
                    </ul>
                    <p class="hos-search">
                        <label class="fl">最近搜索</label>
                        <span class="fr" onclick="javascript:clearHistroy();"><i class="fr"></i></span>
                    </p>
                    <ul class="hot-search a-text-more a-text-one" id="search_histroy"></ul>
                </div>
            </div>
            <div class="swiper-scrollbar" style="display: none; opacity: 0;"><div class="swiper-scrollbar-drag" style="height: 515px;"></div></div>
        </div>
    </section>
    <footer class="close-search j-close-search"> 点击关闭 </footer>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(function ($) {
        $('#sidebar ul li').click(function () {
            $(this).addClass('active').siblings('li').removeClass('active');
            var index = $(this).index();
            $('.j-content').eq(index).show().siblings('.j-content').hide();
        })
    })
</script>
