@section Header{
    <link href="~/css/user.css" rel="stylesheet" />
}
<div class="userInfo">
    <div class="userPic">
        <div class="userLogo">
            <img src="/images/tx.jpg" alt="">
        </div>
    </div>
    <div class="userName">用户名</div>
    <div class="userLevel">会员等级：黄金等级</div>
</div>
<div class="userMenu">
    <ul>
        <li>
            <a href="javascript:;">
                <i class="iMapMarker"></i>
                <span>全部订单</span>
                <i class="iAngleRight"></i>
            </a>
        </li>
    </ul>
</div>

<!-- end.userInfo -->
<div class="userOrder">
    <ul>
        <li><a href="javascript:;"><i class="iCreditCard"><em>22</em></i><span>待付款</span></a></li>
        <li><a href="javascript:;"><i class="iTruck"><em>22</em></i><span>待收货</span></a></li>
        <li><a href="javascript:;"><i class="iFileTextO"><em>22</em></i><span>待评价</span></a></li>
        <li><a href="javascript:;"><i class="iFax"><em>22</em></i><span>申请售后</span></a></li>
    </ul>
</div>
<!-- end.userOrder -->
<div class="userMenu">
    <ul>
        <li>
            <a href="takeGoods.html">
                <i class="iMapMarker"></i>
                <span>收货地址</span>
                <i class="iAngleRight"></i>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="iStreetView"></i>
                <span>会员特权</span>
                <i class="iAngleRight"></i>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="iEdit"></i>
                <span>意见反馈</span>
                <i class="iAngleRight"></i>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="iVolumeDown"></i>
                <span>购物说明</span>
                <i class="iAngleRight"></i>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="iQuestionCircle"></i>
                <span>常见问题</span>
                <i class="iAngleRight"></i>
            </a>
        </li>
    </ul>
</div>
<!-- end.userMenu -->
@section scripts{
    <script src="~/js/usercenter.js"></script>
}